body{
    background-color: beige;
}
#button{
    width: 200px;
    height:200px;
    background-color: aquamarine;
    border-radius: 50%;
    margin:30px auto;
    text-align: center;
    line-height: 200px;
    font-weight: bold;
    font-size: 50px;
    box-shadow: 0 10px 0 blue;
    user-select: none;
}
#button:hover{
    opacity: 0.8;
}

#button:active{
    box-shadow: 0 5px 0 blue;
    margin-top: 35px;
}